<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title</title>

    @*<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>*@

    @*<link href='http://fonts.font.im/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>*@
    <!--Customize global font size* -->
    @*@System.Web.Optimization.Styles.Render("~/bundles/MyMain/css")*@

    <!-- Primary vendor style -->
    @System.Web.Optimization.Styles.Render("~/bundles/font-awesome/css")
    @System.Web.Optimization.Styles.Render("~/bundles/animate/css")
    <link rel="stylesheet" href="~/Vendor/bootstrap/dist/css/bootstrap.css" />
    @*@System.Web.Optimization.Styles.Render("~/bundles/bootstrap/css")*@
    @System.Web.Optimization.Styles.Render("~/bundles/peicon7stroke/css")
    @System.Web.Optimization.Styles.Render("~/bundles/newdatetimepicker/css")
    @System.Web.Optimization.Styles.Render("~/bundles/treeview/css")


    <link rel="stylesheet" href="~/Content/MyMain.css" />

    <!-- Add local styles, mostly for plugins css file -->
    @*@if (IsSectionDefined("Styles"))
        {@RenderSection("Styles", required: false)}*@

    <!-- Primary HOMER style -->
    @System.Web.Optimization.Styles.Render("~/bundles/homer/css")



    <!-- Section for main scripts render -->
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery/js")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap/js")
    @System.Web.Optimization.Scripts.Render("~/bundles/Vue/js")
    @System.Web.Optimization.Scripts.Render("~/bundles/homer/js")
    @System.Web.Optimization.Scripts.Render("~/bundles/moment/js")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryui/js")


    @System.Web.Optimization.Scripts.Render("~/bundles/newdatetimepicker/js")
    @System.Web.Optimization.Scripts.Render("~/bundles/treeview/js")



    <!-- Handler for local scripts -->
    @*@RenderSection("scripts", required: false)*@


    @*<style>

            body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
                font-size: 12px;
                line-height: 1;
            }

            .dataTableLayout {
                table-layout: fixed;
                width: 100%;
            }
        </style>*@
</head>
<body>



    <div id="header">
        @Html.Partial("_Header")
    </div>

    <aside id="menu">
        @Html.Partial("_Navigation")
    </aside>
    <div id="wrapper">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <ul id="tabTitle" class="nav nav-tabs"></ul>
                    <!-- Tab panes -->
                    <div id="tabContent" class="tab-content">

                    </div>
                </div>
            </div>
        </div>


        @*<div id="Selector"></div>*@


        <!-- Footer-->
        @Html.Partial("_Footer")
    </div>
    <script type="text/javascript">

        var _curPageLink = '';

        $(function () {

            var tree = $('#tree').treeview({
                enableLinks: false,
                showBorder: false,
                expandIcon: 'glyphicon glyphicon-chevron-right',
                collapseIcon: 'glyphicon glyphicon-chevron-down',
                onhoverColor: '#f0f8ff',
                selectedBackColor: '#34495e',
                data: getTree1()
            });

            tree.on('nodeSelected', function (event, data) {
                if (data.href == _curPageLink) {
                    if (data.isOpen) {
                        window.open(data.href, '_blank');
                        return;
                    } else 
                        return;
                }

                if (data.href == '#')
                    return;
                _curPageLink = data.href;

                if (data.isOpen) {
                    window.open(data.href, '_blank');
                    return;
                }

                var tabTitle = $('#tabTitle');
                var tabContent = $('#tabContent');

                var text = data.text;
                var value = 'tab_' + data.id;

                tabTitle.find('li').each(function (i) {
                    if ($(this).hasClass('active'))
                        $(this).removeClass();
                });

                //1. Remove div class is 'tab-pane fade in active'.
                //2. Adding no actice class is 'tab-pane fade'
                tabContent.find('div').each(function () {
                    if ($(this).hasClass('tab-pane fade in active')) {
                        $(this).removeClass();
                        $(this).addClass('tab-pane fade');
                    }
                });

                var tempTitle = '<li class="active" >' +
                    '<a href="#' + value + '" aria-controls="' + value + '" tabindex="-1" role="tab" data-toggle="tab">' + text +
                    '<i id="close' + value + '" class="fa fa-remove tab-close"></i></a></li>';
                tabTitle.append(tempTitle);
                var tempContext = ' <div role="tabpanel" class="tab-pane fade in active" id="' + value + '">' + text + '</div >';
                tabContent.append(tempContext);


                $('#close' + value).one('click', function () {

                    //if (!confirm('Do you want to remove this tab?'))
                    //    return;

                    //先判断当前要关闭的tab选项卡有没有active类，再判断当前选项卡是否最后一个，如果是则给前一个选项卡以及内容添加active，否则给下一个添加active类
                    var gParent = $(this).parent().parent(),
                        parent = $(this).parent();
                    if (gParent.hasClass('active')) {
                        if (gParent.prev().index() > -1) {
                            gParent.prev().addClass('active');
                            $(parent.attr('href')).prev().addClass('tab-pane fade in active');
                        } else if (gParent.next().index() > -1) {
                            gParent.next().addClass('active');
                            $(parent.attr('href')).next().addClass('tab-pane fade in active');
                        }
                    }
                    gParent.remove();
                    $(parent.attr('href')).remove();
                });

                $('#' + value).html(wattingDialog());

                setTimeout(function () {
                    $.ajax({
                        url: data.href,
                        type: "Post",
                        success: function (data) {
                            $('#' + value).html('');
                            $('#' + value).html(data);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("Loading failed：" + errorThrown);
                            $('#' + value).html('');
                        }
                    });
                }, 1);


            });



            //$('#btnAdd').on('click', function () {
            //    var tabTitle = $('#tabTitle');
            //    var tabContent = $('#tabContent');
            //    var text = 'Tab' + count;
            //    var value = 'tab_' + count;

            //    //While adding the tab, foreach li remove class.
            //    tabTitle.find('li').each(function (i) {
            //        if ($(this).hasClass('active'))
            //            $(this).removeClass();
            //    });

            //    //1. Remove div class is 'tab-pane fade in active'.
            //    //2. Adding no actice class is 'tab-pane fade'
            //    tabContent.find('div').each(function () {
            //        if ($(this).hasClass('tab-pane fade in active')) {
            //            $(this).removeClass();
            //            $(this).addClass('tab-pane fade');
            //        }
            //    });

            //    //<a href='#id'> this Id must be matched with div id. If id will not be matched, then li can not be navigated to div content.
            //    var tempTitle = '<li class="active" >' +
            //        '<a href="#' + value + '" aria-controls="' + value + '" tabindex="-1" role="tab" data-toggle="tab">' + text +
            //        '<i id="close' + value + '" class="fa fa-remove tab-close"></i></a></li>';
            //    tabTitle.append(tempTitle);
            //    var tempContext = ' <div role="tabpanel" class="tab-pane fade in active" id="' + value + '">' + text + '</div >';
            //    tabContent.append(tempContext);


            //    $('#close' + value).one('click', function () {

            //        //if (!confirm('Do you want to remove this tab?'))
            //        //    return;

            //        //先判断当前要关闭的tab选项卡有没有active类，再判断当前选项卡是否最后一个，如果是则给前一个选项卡以及内容添加active，否则给下一个添加active类
            //        var gParent = $(this).parent().parent(),
            //            parent = $(this).parent();
            //        if (gParent.hasClass('active')) {
            //            if (gParent.prev().index() > -1) {
            //                gParent.prev().addClass('active');
            //                $(parent.attr('href')).prev().addClass('tab-pane fade in active');
            //            } else if (gParent.next().index() > -1) {
            //                gParent.next().addClass('active');
            //                $(parent.attr('href')).next().addClass('tab-pane fade in active');
            //            }
            //        }
            //        gParent.remove();
            //        $(parent.attr('href')).remove();
            //    });
            //    count += 1;

            //});

        })

        function getTree1() {
            var json = @Html.Raw(MyProject.Helpers.TreeMenuHelper.GetMenuJson());
            return json;
        }


        //Demo data
        function getTree() {
            var data = [
                {
                    text: "Parent 1",
                    nodes: [
                        {
                            text: "Child 1",
                            icon: "fa fa-credit-card",
                            nodes: [
                                {
                                    text: "Grandchild",
                                    icon: "fa fa-credit-card",
                                    href: '@Url.Action("Menu", "system")'
                                },
                                {
                                    text: "Grandchild 2"
                                }
                            ],
                            state: {
                                "checked": false, "disabled": false, "expanded": true, "selected": false
                            }
                        },
                        {
                            text: "Child 2"
                        }
                    ]
                },
                {
                    text: "Parent 2"
                },
                {
                    text: "Parent 3"
                },
                {
                    text: "Parent 4"
                },
                {
                    text: "Parent 5"
                }
            ];
            // Some logic to retrieve, or generate tree structure
            return data;
        }

    </script>
</body>
</html>