
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="normalheader transition animated fadeInUp">
    @*small-header*@
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                    <li>
                        <span>App views</span>
                    </li>
                    <li class="active">
                        <span>MyProjects</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Menu
            </h2>
            <small>List of menus.</small>
        </div>
    </div>
</div>

<div class="content animated fadeInUp animate-panel">

    <div class="hpanel hblue">
        <div class="panel-heading hbuilt">
            Functions
            <div class="pull-right">
                <a id="btnNew" class="btn-xs btn-primary" data-toggle="modal" data-target="#newModal">New</a>

                <a id="btnEdit" class="btn-xs btn-primary">Edit</a>
                <a id="btnDelete" class="btn-xs btn-primary">Delete</a>
            </div>
        </div>
        <div class="panel-body">
            <table id="tbMenu" class="table table-striped table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>
                            FunId
                        </th>
                        <th>
                            FunName
                        </th>
                        <th>
                            FunPic
                        </th>
                        <th>
                            FunLink
                        </th>
                        <th>
                            FunDesc
                        </th>
                        <th>
                            FunParentId
                        </th>
                        <th>
                            FunParent
                        </th>
                        <th>
                            FunTypeId
                        </th>
                        <th>
                            FunType
                        </th>
                        <th>
                            FunSeq
                        </th>
                        <th>
                            LCV
                        </th>
                    </tr>

                </thead>

            </table>
            @Html.Partial("ModalMenu")
        </div>

    </div>



</div>



@section Styles {
    @System.Web.Optimization.Styles.Render("~/bundles/datatables/css")
    @System.Web.Optimization.Styles.Render("~/bundles/select2/css")
    @System.Web.Optimization.Styles.Render("~/bundles/ladda/css")
    @System.Web.Optimization.Styles.Render("~/bundles/touchspin/css")

}

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/datatables/js")
    @System.Web.Optimization.Scripts.Render("~/bundles/datatablesBootstrap/js")
    @System.Web.Optimization.Scripts.Render("~/bundles/datatablesPlugins/js")
    @System.Web.Optimization.Scripts.Render("~/bundles/select2/js")
    @System.Web.Optimization.Scripts.Render("~/bundles/ladda/js")
    @System.Web.Optimization.Scripts.Render("~/bundles/touchspin/js")
}


<script type="text/javascript">



    var app = new Vue({
        el: '#dvMenu',
        data: {
            codes: [],
            functions:[],
            lcvs:[],
            menu: {
                FunId: null,
                FunName: '',
                FunLink: '',
                FunDesc: '',
                FunParentId: null,
                FunTypeId: null,
                FunSeq: null,
                FunPic: '',
                LCV: false
            }
        },
        methods: {
            initCode: function () {

                //Get Code
                $.post(
                    '@Url.Action("GetCode", "Home")',
                    { 'value':'FunType' },
                    function (d) {
                        app.codes = [];
                        app.codes.push({ 'CodeId': 0, 'Code':'' });
                        for (i in d.data)
                            app.codes.push(d.data[i]);
                    }, 'json');
                //LCV

                app.lcvs = [];
                app.lcvs.push({ 'text': 'False', 'value': false });
                app.lcvs.push({ 'text': 'True', 'value': true });


                  $.post(
                    '@Url.Action("GetParentMenus", "System")',
                    function (d) {
                        app.functions = [];
                        app.functions.push({ 'FunId': 0, 'FunName':'' });
                        for (i in d.data)
                            app.functions.push(d.data[i]);
                    }, 'json');


              },
              saveMenu: function () {
                  var aa = 1;
                  var json = JSON.stringify(this.menu);
                  var url = app.menu.FunId != null ? '@Url.Action("UpdateMenu", "System")' : '@Url.Action("AddMenu", "System")';

                   $.post(
                       url,
                       {
                           'value': json
                       },
                       function (d) {
                           if (d.value == 0) {
                               alert('Save successful.');
                               $("#myModalMenu").modal('hide');
                               table.ajax.url('@Url.Action("GetMenuList", "System")').load();
                           }


                       },
                       'json');
              },
              setFunSeqValue: function (value) {
                  this.menu.FunSeq = value;
              }
        }
    });

    var table = null;
    $(function () {

            table = $('#tbMenu').DataTable({
            "scrollX": false,
            "serverSide": false,
            "processing": true,
            //"autoWidth": false,
            "pageLength": 10,//首次加载的数据条数
            "ajax": {
                "url": '@Url.Action("GetMenuList", "System")',
                "type": 'POST',
                "data": function (d) {
                    //d.AssessmentId = _data.AssessmentId;
                    //d.UserId = _data.UserId;
                    //d.areaId = _data.AreaId;
                }
            },
            "columns": [
                //{
                //    "className": 'details-control',
                //    "orderable": false,
                //    "data": null,
                //    "defaultContent": ''
                //},
                { "data": "Action" },
                { "data": "FunId" },
                { "data": "FunName" },
                { "data": "FunPic" },
                { "data": "FunLink" },
                { "data": "FunDesc" },
                { "data": "FunParentId" },
                { "data": "FunParent"},
                { "data": "FunTypeId" },
                { "data": "FunType" },
                { "data": "FunSeq" },
                { "data": "LCV" }
            ],
            "columnDefs": [
                {
                    "targets": 0,//编辑
                    "width": "30px",
                    "data": null,
                    //  "defaultContent": "<div class='btn-group'>" +
                    //"<button data-toggle='dropdown' class='btn btn-sm btn-primary dropdown-toggle'>Click Me <span class='caret'></span></button>" +
                    //"<ul class='dropdown-menu'>" +
                    //    "<li><a href='#' id='btnASTA'>ASTA</a></li>" +
                    //    "<li><a href='#' id='btnFeedback'>Feeback</a></li>" +
                    //    "<li><a href='#'>Something else here</a></li>" +
                    //    "<li class='divider'></li>" +
                    //    "<li><a href='#'>Separated link</a></li>" +
                    //"</ul>" +
                    // "</div>"
                    "defaultContent": "<button id='btnNew' class='btn btn-xs btn-primary' title='New' type='button'><i class='fa fa-plus'></i></button> " +
                    "<button id='btnEdit' class='btn btn-xs btn-primary' type='button' data-toggle='tooltip' data-placement='bottom' title='Edit'><i class='fa fa-pencil'></i></button>"
                },
                {
                    "targets": [6],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [8],
                    "visible": false,
                    "searchable": false
                }
            ],
            "order": [[1, 'asc']],
            "pagingType": "full_numbers"


        });

        table.on('click', 'button#btnNew', function () {
            var data = table.row($(this).parents('tr')).data();
            if (app.menu == null || app.menu == undefined) { }
            else {
                app.menu.FunId = null;
                app.menu.FunName = '';
                app.menu.FunLink = '';
                app.menu.FunDesc = '';
                app.menu.FunPic = '';
                app.menu.FunParentId = null;
                app.menu.FunTypeId = null;
                app.menu.FunSeq = null;
                app.menu.LCV = null;
            }
            //$.ajax({
            //    type: "POST",
            //    url: "/Booking/GetBookingASTA",
            //    data: { bookingNo: data.BookingNumber },
            //    success: function (d) {
            //        $("#tabASTA  tr:not(:first)").empty("");
            //        if (d.status == 0) {
            //            $("#tabASTA tr:last").after(GetTableRow("Vessel", d.data.Vessel, "Voyage", d.data.Voyage));
            //            $("#tabASTA tr:last").after(GetTableRow("Service", d.data.Service, "BookingNumber", d.data.BookingNumber));
            //            $("#tabASTA tr:last").after(GetTableRow("BOLNumber", d.data.BOLNumber, "Status", d.data.Status));
            //            $("#tabASTA tr:last").after(GetTableRow("Comments", d.data.Comments, "WarningAlert", d.data.WarningAlert));
            //            $("#tabASTA tr:last").after(GetTableRow("StatusDate", d.data.StatusDate, "BookingDate", d.data.BookingDate));
            //            $("#tabASTA tr:last").after(GetTableRow("POL", d.data.POL, "POR", d.data.POR));
            //            $("#tabASTA tr:last").after(GetTableRow("POD", d.data.POD, "FinalDest", d.data.FinalDest));
            //        }

            //    }
            //});

            $("#myModalMenu").modal("show");
         });

        table.on('click', 'button#btnEdit', function () {
            var data = table.row($(this).parents('tr')).data();
            $.ajax({
                type: "POST",
                url: "/System/GetMenu",
                data: { id: data.FunId },
                success: function (d) {
                    $.extend(app.menu, d);
                    $("#myModalMenu").modal("show");

                }
            });

        });

        $("#inputSeq").TouchSpin({
            verticalbuttons: true
        });
        $('#inputSeq').on('change', function () {
            app.setFunSeqValue($('#inputSeq').val());
        });

        app.initCode();


        $('#btnSave').on('click', function () {
            app.saveMenu();
        });

    })



</script>